<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.b07storeapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.B07StoreApp">
        <activity
            android:name=".owner_order_details"
            android:exported="false" />
        <activity
            android:name=".order_full_list"
            android:exported="false" />
        <activity
            android:name=".orderstatus_updatecomplete"
            android:exported="false" />
        <activity
            android:name=".update_order_status_individual"
            android:exported="false" />
        <activity
            android:name=".update_order_status"
            android:exported="false" />
        <activity
            android:name=".owner_home"
            android:exported="false" />
        <activity
            android:name=".orderhistory_details"
            android:exported="false" />
        <activity
            android:name=".Item_deleted"
            android:exported="false" />
        <activity
            android:name=".Cart_quantity_updated"
            android:exported="false" />
        <activity
            android:name=".Cart_itemconfigure"
            android:exported="false" />
        <activity
            android:name=".product_details"
            android:exported="false" />
        <activity
            android:name=".past_orderlist"
            android:exported="false" />
        <activity
            android:name=".product_list"
            android:exported="false" />
        <activity
            android:name=".Checkout_finish"
            android:exported="false" />
        <activity
            android:name=".Checkout"
            android:exported="false" />
        <activity
            android:name=".logged_out"
            android:exported="false"/>
        <activity
            android:name=".product_added"
            android:exported="false" />
        <activity
            android:name=".Shop_list"
            android:parentActivityName=".customer_home">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.b07storeapp.customer_home" />
        </activity>
        <activity
            android:name=".customer_home"
            android:exported="false" />
        <activity
            android:name=".Mark_DetailActivity"
            android:exported="false" />
        <activity
            android:name=".Mark_OrdersActivity"
            android:exported="false" />
        <activity
            android:name=".Order_DetailActivity"
            android:exported="false" />
        <activity
            android:name=".View_OrderHistory"
            android:exported="false" />
        <activity
            android:name=".OwnerActivity"
            android:exported="false" />
        <activity
            android:name=".AddItem"
            android:exported="false" />
        <activity
            android:name=".EditSingleItem"
            android:exported="false" />
        <activity
            android:name=".EditingItems"
            android:exported="false" />
        <activity
            android:name=".DisplayMessageActivity"
            android:parentActivityName=".EditItems">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.b07storeapp.EditItems" />
        </activity>
        <activity
            android:name=".EditItems"
            android:exported="false" />
        <activity
            android:name=".owner_register"
            android:exported="false" />
        <activity
            android:name=".owner_login"
            android:exported="false" />
        <activity
            android:name=".customer_register"
            android:exported="false" />
        <activity
            android:name=".customer_login"
            android:exported="false" />
        <activity
            android:name=".store_setup"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>